.text-shadow {
  text-shadow: 1px 1px 2px gray;
}

.container {
  height: 55vh;
}

.classical {
  height: 55vh;
  background: url(./css/sabine.jpg) center center;
  background-size: contain;
  opacity: 0.6;
}

.classicalChild {
  height: 55vh;
  background: url(./css/saintpeterandjohn.jpg) center center;
  background-size: contain;
  opacity: 0.5;
}

.classicalChildTwo {
  height: 55vh;
  background: url(./css/socrates.jpg) center center;
  background-size: contain;
  opacity: 0.4;
}

.hell {
  height: 55vh;
  background: url(./css/christdescent.jpg) center center;
  background-size: contain;
  opacity: 0.7;
}

.hellChild {
  height: 55vh;
  background: url(./css/aeneas.jpg) center center;
  background-size: contain;
  opacity: 0.6;
}

.hellChildTwo {
  height: 55vh;
  background: url(./css/saintanthony.jpg) center center;
  background-size: contain;
  opacity: 0.5;
}

.hellChildThree {
  height: 55vh;
  background: url(./css/nighthag.jpg) center center;
  background-size: contain;
  opacity: 0.4;
}
/*

background: url(./css/sabine.jpg) center center;
background-size: contain;
    */
